{% extends 'base.html.twig' %}

{% block title %}History
{% endblock %}

{% block body %}
	<h1>Historial de Entrenamiento</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Entrenamiento</th>
        <th>Duración</th>
        <th>Fecha de Entrenamiento</th>
      </tr>
    </thead>
    <tbody>
      {% for history in histories %}
        <tr>
          <td>{{ history.workoutName }}</td>
          <td>{{ history.duration }}</td>
          <td>{{ history.dateWorkout ? history.dateWorkout|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

	<a href="{{ path('dashboard_user') }}">Volver a la lista de entrenamientos</a>
{% endblock %}


