{# Formulario de eliminación del entrenamiento #}
<form method="post" action="{{ path('app_workout_show', {'id': workout.id}) }}">
	<input type="hidden" name="action" value="delete">
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

