{% extends 'base.html.twig' %}

{% block title %}New Workout{% endblock %}

{% block body %}
    <h1>Create New Workout</h1>

    {{ include('workout/_form.html.twig', { workoutForm: workoutForm }) }}

    <a href="{{ path('workouts') }}">Back to my workouts</a>
{% endblock %}